* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 100%;
  width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

img {
  display: inline-block;
}